# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
venv-skyral/

# macOS system files
.DS_Store

# IDE/editor files
.idea/
.vscode/

# Static build output (from Flask-Frozen)
build/

# Other ignored files
*.log
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MyPy, coverage, and test output
.mypy_cache/
.coverage
htmlcov/
.pytest_cache/

# Temporary files
*.tmp
*.bak
*.swp

# Custom local
core_sim/
**/core_sim/
cache/
**/cache/
